<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recover your password</title>
</head>
<body>
  <h1>Welcome to www.miracleforyou.com!</h1>
  <p>Click this URL to register an account:
    <a href="{{url}}/user/auth/register?email={{email}}&code={{code}}">
      {{url}}/user/auth/register?email={{email}}&code={{code}}
    </a>
  </p>  
  <p>This code will expire after {{expiration}}</p>
  <p>Note: This code can be used for either password recovery or account registration </p>
</body>
</html>